# ignoring all hidden directories and files
.*
!/.gitignore

# ignoring all __pycache__ folders
**/__pycache__

# ignoring the "results" directory
results

# ignoring the preprocessed nuscenes dataset
datasets/nuscenes_pred

# ignoring SDD dataset folder (which contains preprocessed data for SDD)
datasets/SDD/*
!datasets/SDD/coordinates_conversion.txt

# ignoring the compressed zip file of agentformer_models
agentformer_models.zip
