# Note: create the conda environment and install the conda packages first:
#   $: conda create --name <environment-name> --file occlusionformer-environment.txt
#   $: conda activate <environment-name>
# then, the remaining requirements can be installed with pip:
# 	$: pip install -r requirements.txt

tensorboard
opencv-python
glob2
pyyaml
easydict
pandas<2.0.0
tqdm
matplotlib
